
@{
    ViewBag.Title = "Index5";
}

<script src="~/JavaScriptit/ext2.js" type="text/javascript"></script>

<body onload="init();">
    <h1>Tapahtumankäsittelyä</h1>

    <p onclick="alert('Olen skripti inline HTML:n attribuutin arvona!');">Inline tapahtumankäsittely, napsauta minua!</p>

    <p onclick="napsautus();">Ulkoinen tiedosto ja tapahtumankäsittely, napsauta minua!</p>

    <p id="osa2">Ulkoinen tiedosto ja tapahtumankäsittely - osa 2, napsauta minua!</p>

    <p id="osa3">Ulkoinen tiedosto ja tapahtumankäsittely -osa 3, napsauta minua!</p>

   
    <script src="~/JavaScriptit/ext.js" type="text/javascript"></script>
</body>


