
@{
    ViewBag.Title = "Index6";
}

<script src="~/JavaScriptit/eventhandler-final.js"></script>

<style type="text/css">
</style>

<h1>Moderni tapahtumankäsittely</h1>
<p id="xxx">HTML - mitä se on?</p>

