@{
    ViewBag.Title = "Home Page";
}

@section scripts{

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">

    <link href="~/Scripts/normalize.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/OwnSite.css" rel="stylesheet" />
}


@section head {
    @*<style>
            #wrap {
                width: 960px;
                margin: 0 auto;
                float: left;
            }

            header, footer {
                padding: 20px;
                background: #999;
            }

            /*//Ensimmäisen version tavoite: a. div one vasemmalle, kokonaisleveys 680px b. div two oikealle, leveys loput,
            //siis 960 - 680 = 280 c. väliin tulee jäädä 20px "gutter"*/
            #one {
                padding: 20px;
                background: #efefef;
                float: left;
                width: 640px;
            }

            /*//Tee div two marginaalia vasemmalle siten että saat palstojen väliin sen 20px gutterin*/
            #two {
                padding: 20px;
                background: #ccc;
                margin-left: 700px;
            }

            /*//Muista, että floatit on "kliirattava".
            Tässä varmistetaan se, että footer on aina palstojen alapuolella, eikä pääse vuotamaan ylös rinnalle.*/
            footer {
                clear: both;
            }

            h2 {
                color: darkgrey;
            }

            h1, h2, h3 {
                /*color: red;
                background: yellow;*/
            }

            .important {
                color: red;
            }

            .last {
                font-family: Verdana;
            }

            h1, h2, h3, h4 {
                voice-family: male;
                richness: 80;
                cue-before: url("beep.au")
            }

            * {
                box-sizing: border-box;
            }

            /*[class*="col-"] {
                float: left;
                padding: 15px;
            }*/
        </style>*@
}


<div id="wrap">

    <headerown>
        <h1 style="font-weight: bold;">This is a header heading</h1>
    </headerown>

    <div class="background">
        <div id="one">
            <h2>Column one heading</h2>
            <p style="color:indigo;">
                This is just simple text inside the column one.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ante id neque lacinia faucibus.
                Sed a ipsum vulputate, congue odio sed, dignissim ligula.
                Mauris ut ipsum turpis. Pellentesque accumsan mauris nec tempus consequat.
                Duis sagittis turpis sed felis ultricies rhoncus. Nunc nec maximus nisl.
                Donec quis risus ac turpis venenatis faucibus. Aliquam sed turpis ac leo gravida efficitur vel at lacus.
                Maecenas consequat facilisis porta. Maecenas vehicula libero sapien, eu porta dui pretium dictum.
                Proin imperdiet tellus eget nisl suscipit gravida.
            </p>
        </div>

        <div id="two">
            <h2>Column two heading</h2>
            <div class="important">This is just simple text inside column two.</div>
            Nullam volutpat tortor nec elementum egestas. Morbi pharetra porttitor felis, faucibus pharetra dui.
            <div class="important last">Etiam fermentum eros tellus, eu varius massa bibendum eget.</div>
            <p>Sed lacinia magna at purus finibus rhoncus non non purus.</p>
        </div>
    </div>

    <footerown>
        <p>This is simple footer text.</p>
    </footerown>

</div>

