
@{
    ViewBag.Title = "Index1";
}

<h2>Index1</h2>
This is a header heading
Column one heading
This is just simple text inside the column one.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eget ante id neque lacinia faucibus. Sed a ipsum vulputate, congue odio sed, dignissim ligula. Mauris ut ipsum turpis. Pellentesque accumsan mauris nec tempus consequat. Duis sagittis turpis sed felis ultricies rhoncus. Nunc nec maximus nisl. Donec quis risus ac turpis venenatis faucibus. Aliquam sed turpis ac leo gravida efficitur vel at lacus. Maecenas consequat facilisis porta. Maecenas vehicula libero sapien, eu porta dui pretium dictum. Proin imperdiet tellus eget nisl suscipit gravida.
Column two heading
This is just simple text inside column two.
Nullam volutpat tortor nec elementum egestas. Morbi pharetra porttitor felis, faucibus pharetra dui. Etiam fermentum eros tellus, eu varius massa bibendum eget. Sed lacinia magna at purus finibus rhoncus non non purus.
This is simple footer text.
