
@{
    ViewBag.Title = "Index9";
}

<link href="~/Content/twoColFixRtHdr.css" rel="stylesheet" />

<script src="~/JavaScriptit/jquery-1.12.1.js"></script>

<script src="geolocation-google.js"></script>


<script src="http://maps.google.com/maps-api-v3/api/js/32/12/intl/fi_ALL/common.js" type="text/javascript" charset="UTF-8"></script>

<script src="http://maps.google.com/maps-api-v3/api/js/32/12/intl/fi_ALL/util.js" type="text/javascript" charset="UTF-8"></script>

<script src="http://maps.google.com/maps-api-v3/api/js/32/12/intl/fi_ALL/stats.js" type="text/javascript" charset="UTF-8"></script>

<script src="http://maps.google.com/maps-api-v3/api/js/32/12/intl/fi_ALL/map.js" type="text/javascript" charset="UTF-8"></script>

<script src="http://maps.google.com/maps-api-v3/api/js/32/12/intl/fi_ALL/marker.js" type="text/javascript" charset="UTF-8"></script>

<script src="http://maps.google.com/maps-api-v3/api/js/32/12/intl/fi_ALL/onion.js" type="text/javascript" charset="UTF-8"></script>

<script src="http://maps.google.com/maps-api-v3/api/js/32/12/intl/fi_ALL/controls.js" type="text/javascript" charset="UTF-8"></script>



<h1>Geolocation</h1>
<p id="geo">Click me to show location!</p>

<div id="map" style="width: 200px; height: 200px; overflow: hidden; position: relative;">
    <div style="left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; background-color: rgb(229, 227, 223);">
    <div class="gm-style" style="border-width: 0px; margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 0;">
        <div tabindex="0" style="border-width: 0px; margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 0; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default; touch-action: none;">
        <div style="left: 50%; top: 50%; position: absolute; z-index: 1; transform: translate(0px, 0px);">
            <div style="left: 0px; top: 0px; width: 100%; position: absolute; z-index: 100;">
            <div style="left: 0px; top: 0px; position: absolute; z-index: 0;">
                <div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -201, -231);">
                    <div style="left: 256px; top: 256px; width: 256px; height: 256px; position: absolute;">
                    <div style="width: 256px; height: 256px;">
                        </div>
                        </div>
                    <div style="left: 0px; top: 256px; width: 256px; height: 256px; position: absolute;">
                    <div style="width: 256px; height: 256px;">
                        </div>
                        </div>
                    <div style="left: 0px; top: 0px; width: 256px; height: 256px; position: absolute;">
                    <div style="width: 256px; height: 256px;">
                        </div>
                        </div>
                    <div style="left: 256px; top: 0px; width: 256px; height: 256px; position: absolute;">
            <div style="width: 256px; height: 256px;"></div>
            </div>
            </div>
            </div>
            </div>
            <div style="left: 0px; top: 0px; width: 100%; position: absolute; z-index: 101;">
                </div><div style="left: 0px; top: 0px; width: 100%; position: absolute; z-index: 102;">
                    </div>
            <div style="left: 0px; top: 0px; width: 100%; position: absolute; z-index: 103;">
            <div style="left: 0px; top: 0px; position: absolute; z-index: -1;">
                <div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -201, -231);">
                <div style="left: 256px; top: 256px; width: 256px; height: 256px; overflow: hidden; position: absolute;">
                    </div>
                <div style="left: 0px; top: 256px; width: 256px; height: 256px; overflow: hidden; position: absolute;">
                    </div>
                <div style="left: 0px; top: 0px; width: 256px; height: 256px; overflow: hidden; position: absolute;">
                        </div>
                <div style="left: 256px; top: 0px; width: 256px; height: 256px; overflow: hidden; position: absolute;">
                    </div>
                    </div>
                </div>
            <div style="left: -14px; top: -43px; width: 27px; height: 43px; overflow: hidden; position: absolute; z-index: 0;">
                <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0px; top: 0px; width: 27px; height: 43px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png">
                </div>
                </div>
            <div style="left: 0px; top: 0px; position: absolute; z-index: 0;">
            <div style="position: absolute; z-index: 1; transform: matrix(1, 0, 0, 1, -201, -231);">
            <div style="left: 256px; top: 256px; width: 256px; height: 256px; position: absolute;">
                <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; width: 256px; height: 256px; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i14!2i9387!3i4716!4i256!2m3!1e0!2sm!3i419119516!3m9!2sfi-FI!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=43570">
                </div>
            <div style="left: 0px; top: 256px; width: 256px; height: 256px; position: absolute;">
                <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; width: 256px; height: 256px; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i14!2i9386!3i4716!4i256!2m3!1e0!2sm!3i419119516!3m9!2sfi-FI!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=65735">
                    </div>
            <div style="left: 0px; top: 0px; width: 256px; height: 256px; position: absolute;">
            <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; width: 256px; height: 256px; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i14!2i9386!3i4715!4i256!2m3!1e0!2sm!3i419119516!3m9!2sfi-FI!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=60914">
                </div>
            <div style="left: 256px; top: 0px; width: 256px; height: 256px; position: absolute;">
            <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; width: 256px; height: 256px; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.google.com/maps/vt?pb=!1m5!1m4!1i14!2i9387!3i4715!4i256!2m3!1e0!2sm!3i419119516!3m9!2sfi-FI!3sUS!5e18!12m1!1e68!12m3!1e37!2m1!1ssmartmaps!4e0!23i1301875&amp;token=38749">
                </div>
            </div>
            </div>
            </div>
        <div class="gm-style-pbc" style="border-width: 0px; margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 2; opacity: 0; transition-duration: 0s;"><p class="gm-style-pbt"></p>
            </div>
        <div style="border-width: 0px; margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 3; touch-action: pan-x pan-y;">
            <div style="border-width: 0px; margin: 0px; padding: 0px; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1;">
                </div><div style="left: 50%; top: 50%; position: absolute; z-index: 4; transform: translate(0px, 0px);">
            <div style="left: 0px; top: 0px; width: 100%; position: absolute; z-index: 104;">
                               </div>
            <div style="left: 0px; top: 0px; width: 100%; position: absolute; z-index: 105;">
                </div><div style="left: 0px; top: 0px; width: 100%; position: absolute; z-index: 106;">
            <div title="This is my location" class="gmnoprint" style="left: -14px; top: -43px; width: 27px; height: 43px; overflow: hidden; position: absolute; z-index: 0; cursor: pointer; opacity: 0.01; touch-action: none;">
            <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0px; top: 0px; width: 27px; height: 43px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi2.png"></div></div><div style="left: 0px; top: 0px; width: 100%; position: absolute; z-index: 107;">
            </div>
            </div>
            </div>
            </div>
        <iframe src="about:blank" frameborder="0" style="border: medium; border-image: none; left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: -1;"></iframe>
        <div style="left: 0px; bottom: 0px; margin-right: 5px; margin-left: 5px; position: absolute; z-index: 1000000;"><a title="Näytä tämä alue Google Mapsissa klikkaamalla tätä" style="overflow: visible; display: inline; position: static; float: none;" href="https://maps.google.com/maps?ll=60.458265,26.252599&amp;z=14&amp;t=m&amp;hl=fi-FI&amp;gl=US&amp;mapclient=apiv3" target="_blank">
            <div style="width: 66px; height: 26px; cursor: pointer;">
            <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0px; top: 0px; width: 66px; height: 26px; position: absolute; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/google4.png">
                </div>
                        </a>
            </div>
        <div style="padding: 15px 21px; border: 1px solid rgb(171, 171, 171); border-image: none; left: 5px; top: 10px; width: 146px; height: 148px; color: rgb(34, 34, 34); font-family: Roboto,Arial,sans-serif; display: none; position: absolute; z-index: 10000002; box-shadow: 0px 4px 16px rgba(0,0,0,0.2); background-color: white;">
        <div style="padding: 0px 0px 10px; font-size: 16px;">Karttatiedot</div>
        <div style="font-size: 13px;">Karttatiedot ©2018 Google</div>
        <div style="top: 12px; width: 13px; height: 13px; right: 12px; overflow: hidden; position: absolute; z-index: 10000; cursor: pointer; opacity: 0.7;">
            <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -2px; top: -336px; width: 59px; height: 492px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png"></div>
        </div>

        <div class="gmnoprint" style="width: 132px; right: 66px; bottom: 0px; position: absolute; z-index: 1000001;">
        <div class="gm-style-cc" style="height: 14px; line-height: 14px; -ms-user-select: none;" draggable="false">      
        <div style="width: 100%; height: 100%; position: absolute; opacity: 0.7;">
        <div style="width: 1px;"></div>
        <div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div>
        </div>
        <div style="text-align: right; color: rgb(68, 68, 68); padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; position: relative; direction: ltr;">
            <a style="text-decoration: none; display: none; cursor: pointer;">Karttatiedot</a><span>Karttatiedot ©2018 Google</span></div>
        </div>
        </div>

        <div class="gmnoscreen" style="right: 0px; bottom: 0px; position: absolute;">
        <div style="text-align: right; color: rgb(68, 68, 68); font-family: Roboto,Arial,sans-serif; font-size: 11px; direction: ltr; background-color: rgb(245, 245, 245);">Karttatiedot ©2018 Google</div>
        </div>
        <div class="gmnoprint gm-style-cc" style="height: 14px; right: 0px; bottom: 0px; line-height: 14px; position: absolute; z-index: 1000001; -ms-user-select: none;" draggable="false">
        <div style="width: 100%; height: 100%; position: absolute; opacity: 0.7;"><div style="width: 1px;"></div>
            <div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div>
            </div>
        <div style="text-align: right; color: rgb(68, 68, 68); padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; position: relative; direction: ltr;">
            <a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer;" href="https://www.google.com/intl/fi-FI_US/help/terms_maps.html" target="_blank">Käyttöehdot</a></div>
        </div>
        <button title="Koko näytön näkymä päälle/pois" style="background: rgb(255, 255, 255); margin: 10px 14px; padding: 0px; border: 0px; border-image: none; top: 0px; width: 25px; height: 25px; right: 0px; overflow: hidden; position: absolute; cursor: pointer; -ms-user-select: none;" draggable="false" aria-label="Koko näytön näkymä päälle/pois" type="button">
        <img class="gm-fullscreen-control" style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -52px; top: -86px; width: 164px; height: 175px; position: absolute; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/sv9.png"></button>
        <div class="gm-style-cc" style="height: 14px; right: 0px; bottom: 0px; line-height: 14px; display: none; position: absolute; -ms-user-select: none;" draggable="false">
        <div style="width: 100%; height: 100%; position: absolute; opacity: 0.7;">
            <div style="width: 1px;"></div>
            <div style="width: auto; height: 100%; margin-left: 1px; background-color: rgb(245, 245, 245);"></div>
        </div>
        <div style="text-align: right; color: rgb(68, 68, 68); padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; vertical-align: middle; display: inline-block; white-space: nowrap; position: relative; direction: ltr;">
            @*<a title="Ilmoita Googlelle virheistä tiekartassa tai kuvissa" style="color: rgb(68, 68, 68); font-family: Roboto,Arial,sans-serif; font-size: 10px; text-decoration: none; position: relative;" href="https://www.google.com/maps/@60.4582652,26.2525993,14z/data=!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3" target="_blank" rel="noopener">Ilmoita karttavirheestä</a></div>*@
        </div>
        <div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" style="margin: 10px; right: 28px; bottom: 107px; position: absolute; -ms-user-select: none;" draggable="false" controlWidth="28" controlHeight="93">
        <div class="gmnoprint" style="left: 0px; top: 38px; position: absolute;" controlWidth="28" controlHeight="55"><div style="border-radius: 2px; width: 28px; height: 55px; cursor: pointer; box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3); -ms-user-select: none; background-color: rgb(255, 255, 255);" draggable="false">
            <button title="Suurenna" style="background: none; margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0px; top: 0px; width: 28px; height: 27px; display: block; position: relative; cursor: pointer; -ms-user-select: none;" draggable="false" aria-label="Suurenna" type="button">
            <div style="left: 7px; top: 6px; width: 15px; height: 15px; overflow: hidden; position: absolute;">
                <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0px; top: 0px; width: 120px; height: 54px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png"></div>
            </button>
            <div style="left: 16%; top: 0px; width: 67%; height: 1px; overflow: hidden; position: relative; background-color: rgb(230, 230, 230);"></div>
            <button title="Pienennä" style="background: none; margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0px; top: 0px; width: 28px; height: 27px; display: block; position: relative; cursor: pointer; -ms-user-select: none;" draggable="false" aria-label="Pienennä" type="button">
            <div style="left: 7px; top: 6px; width: 15px; height: 15px; overflow: hidden; position: absolute;">
            <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: 0px; top: -15px; width: 120px; height: 54px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png"></div>
            </button>
            </div>
            </div>
        <div class="gm-svpc" style="border-radius: 2px; left: 0px; top: 0px; width: 28px; height: 28px; position: absolute; cursor: url(http://maps.gstatic.com/mapfiles/openhand_8_8.cur), default; box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3); touch-action: none; background-color: rgb(255, 255, 255);" controlWidth="28" controlHeight="28"><div style="left: 1px; top: 1px; position: absolute;"></div>
            <div style="left: 1px; top: 1px; position: absolute;"><div style="left: 0px; top: 0px; width: 26px; height: 26px; overflow: hidden; position: absolute;" aria-label="Street View'n Pegman-valinta"><img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -147px; top: -26px; width: 215px; height: 835px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png"></div>
            <div style="left: 0px; top: 0px; width: 26px; height: 26px; overflow: hidden; visibility: hidden; position: absolute;" aria-label="Pegman on kartan päällä.">
                <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -147px; top: -52px; width: 215px; height: 835px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png"></div>
            <div style="left: 0px; top: 0px; width: 26px; height: 26px; overflow: hidden; visibility: hidden; position: absolute;" aria-label="Street View'n Pegman-valinta"><img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -147px; top: -78px; width: 215px; height: 835px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png"></div>
            </div>
            </div>
        <div class="gmnoprint" style="display: none; position: absolute;" controlWidth="28" controlHeight="0">
            <div title="Kierrä karttaa 90 astetta" style="border-radius: 2px; width: 28px; height: 28px; overflow: hidden; display: none; position: absolute; cursor: pointer; box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);">
            <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -141px; top: 6px; width: 170px; height: 54px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png"></div>
            <div class="gm-tilt" style="border-radius: 2px; top: 0px; width: 28px; height: 28px; overflow: hidden; position: absolute; cursor: pointer; box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3); background-color: rgb(255, 255, 255);">
            <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -141px; top: -13px; width: 170px; height: 54px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png"></div>
            </div>
            </div>
        <div class="gmnoprint" style="margin: 10px; left: 0px; top: 0px; position: absolute; z-index: 0; cursor: pointer;">
        <div class="gm-style-mtc" style="position: relative; float: left;">
            <div tabindex="0" title="Näytä katukartta" role="button" aria-pressed="true" style="padding: 8px; text-align: center; color: rgb(0, 0, 0); overflow: hidden; font-family: Roboto,Arial,sans-serif; font-size: 11px; font-weight: 500; position: relative; direction: ltr; min-width: 29px; border-top-left-radius: 2px; border-bottom-left-radius: 2px; background-clip: padding-box; box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3); -ms-user-select: none; background-color: rgb(255, 255, 255);" draggable="false" aria-label="Näytä katukartta">Kartta</div>
            <div style="padding: 2px; left: 0px; top: 29px; text-align: left; display: none; position: absolute; z-index: -1; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3); background-color: white;">
            <div title="Näytä katukartta maastokarttana" style="padding: 6px 8px 6px 6px; text-align: left; color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; font-size: 11px; white-space: nowrap; direction: ltr; -ms-user-select: none; background-color: rgb(255, 255, 255);" draggable="false">
            <span role="checkbox" style="margin: 0px 5px 0px 0px; border-radius: 1px; border: 1px solid rgb(198, 198, 198); border-image: none; width: 13px; height: 13px; line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block; position: relative; box-sizing: border-box; background-color: rgb(255, 255, 255);">
            <div style="left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; display: none; position: absolute;"><img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -52px; top: -44px; width: 68px; height: 67px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/mv/imgs8.png"></div>
            </span><label style="vertical-align: middle; cursor: pointer;">Maasto</label></div>
            </div>
            </div>
        <div class="gm-style-mtc" style="position: relative; float: left;">
            <div tabindex="0" title="Näytä satelliittikuvat" role="button" aria-pressed="false" style="padding: 8px; text-align: center; color: rgb(86, 86, 86); overflow: hidden; font-family: Roboto,Arial,sans-serif; font-size: 11px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none; position: relative; direction: ltr; min-width: 41px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; background-clip: padding-box; box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3); -ms-user-select: none; background-color: rgb(255, 255, 255);" draggable="false" aria-label="Näytä satelliittikuvat">Satelliitti</div>
            <div style="padding: 2px; top: 29px; text-align: left; right: 0px; display: none; position: absolute; z-index: -1; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3); background-color: white;">
            <div title="Näytä katujen nimet kuvissa" style="padding: 6px 8px 6px 6px; text-align: left; color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; font-size: 11px; white-space: nowrap; direction: ltr; -ms-user-select: none; background-color: rgb(255, 255, 255);" draggable="false">
            <span role="checkbox" style="margin: 0px 5px 0px 0px; border-radius: 1px; border: 1px solid rgb(198, 198, 198); border-image: none; width: 13px; height: 13px; line-height: 0; font-size: 0px; vertical-align: middle; display: inline-block; position: relative; box-sizing: border-box; background-color: rgb(255, 255, 255);">
            <div style="left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden; position: absolute;">
                    <img style="margin: 0px; padding: 0px; border: 0px; border-image: none; left: -52px; top: -44px; width: 68px; height: 67px; position: absolute; max-width: none; -ms-user-select: none;" draggable="false" alt="" src="http://maps.gstatic.com/mapfiles/mv/imgs8.png"></div>
            </span><label style="vertical-align: middle; cursor: pointer;">Tunnisteet</label></div>
            </div>
            </div>
            </div>
        </div>
        </div>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false"></script>